nav.navbar.navbar-default.navbar-static-top.l-nav-header
  .navbar-header
    a.navbar-brand(href="/") App
  ul.nav.navbar-nav
    li: Link(to="top") "取扱い商品名 (TOP)" 
    li: Link(to="trade") 取引情報
    li: Link(to="asset") 口座資産
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        | ○○ 様 
        span.caret
      ul.dropdown-menu(role="menu")
        li: a(href="#")
          i.fa.fa-fw.fa-user
          |  アカウント情報
        li.divider
        li: a(href="#" onClick=owner.logout.bind(owner))
          i.fa.fa-fw.fa-sign-out
          |  ログアウト
