.container
  .col-xs-6.col-xs-offset-3
    .panel.panel-default.l-panel-login
      .panel-heading ログインフォーム
      .panel-body
        Message(message=owner.state.message)
        Text(ref="loginId" id="loginId" placeholder="ログインID" row="true")
        Text(ref="password" id="password" placeholder="パスワード")
      .panel-footer
        button.btn.btn-block.btn-primary(onClick=owner.login.bind(owner))
          i.fa.fa-fwfa-lg.fa-sign-in
          | 　ログイン
    .alert.alert-warning サーバ側（サンプル実装版）の認証モードを有効にした時は sample/sample でログインしてください。